
<div class="col-md-12">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Limite Crédito</th>
        <th scope="col">Risco</th>
        <th scope="col">Taxa Juros</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.nome}}</td>
        <td>{{cliente.limiteCredito | currency:'BRL':true}}</td>
        <td>{{cliente.risco}}</td>
        <td>{{getTaxa(cliente.risco)}}</td>
        <!-- <td><button class="btn btn-success" (click)="editUser(user)"></button></td> -->
      </tr>
    </tbody>
  </table>
</div>